  <% videos.each do |video|%>
    <div class="grid-item ">
      <%=link_to (image_tag(video[1].thumbnail_url)), watch_path(video[0].id)%>
      <div class="title-copy">
       <p class="type"><%=video[0].category.tag%></p>
       <h3 id="element-title"><%=video[1].title%></h3>
       <p class="text-justify description"><span><%=video[1].description%></span></p>
     </div>
    </div>
    <hr>
  <%end%>
