<table id="videotable" class="table">
<thead>
  <th>Name</th>
  <th>Description</th>
  <th>Duration</th>
  <th>Remove</th>
</thead>
  <% contents.each do |video|%>
<tbody>
  <td><%=video[1].title%></td>
  <td><%=video[1].description%></td>
  <td><%=video[1].duration%></td>
  <td><%=link_to watch_path(video[0].id), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="glyphicon glyphicon-trash"></i>
  <%end%>
  </td>
</tbody>
  <%end%>
</table>
