<% content_for :menu do %>
<%= render "manage/shared/secondary_nav"%>
<%end%>

<div class="container">
  <h1 class="active">Manage Content</h1>
<button class='btn btn-primary pull-right' data-toggle="modal" data-target="#add">Add Video <i class="glyphicon glyphicon-plus"></i></button>
</br>
<hr>
<%= render "manage/shared/content_table", contents: @displayed %>


<center>
<%= will_paginate @displayed , renderer: BootstrapPagination::Rails%>
</center>
</div>

<%= render "manage/shared/add_form", video: @video %>


