<div class="container">
<div class="search-buttons">
  <center>
    <%= render 'watch/shared/search_nav'%>
  </center>
</div>
<hr>

<div class="grid table-striped">
  <%= render 'watch/shared/video_library', videos: @displayed %>
</div>

<center>
<%= will_paginate @displayed , renderer: BootstrapPagination::Rails%>
</center>
<!--< embed(video[0].video_id)>-->
</container>
